{{>header}}
{{#if isAuth}}
<div id="car-listings">
    
    <div id="listings">

        {{#if thereAreOffers}}
           {{#each allOffers}}
             {{>car}}
           {{/each}}
        {{else}}
        <p class="no-cars">No cars in database.</p>
        {{/if}}

    </div>
</div>
{{else}}
<div id="main">
    <div id="welcome-container">
        <h1>Welcome To Wheels.bg</h1>
        <img src="./style/images/finance-car.png" alt="carIntro">
        
        <div id="button-div">
            <a href="#/login" class="button">Login</a>
            <a href="#/register" class="button">Register</a>
        </div>
    </div>
</div>
{{/if}}

{{>footer}}